# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model checkpoints and large binaries
finbert-sentiment-sec-press-releases/
*.bin
*.safetensors

# Ignore training temp folders and logs
temp/
wandb/
runs/

# Ignore environment and dependency files
.env
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system and IDE files
.DS_Store
.vscode/
